<launch>
  <!-- arguments for the urdf xacro file, rviz visualization and namespace -->
  <param name="robot_description" textfile="$(find continuum_rb)/urdf/rb_model.urdf"/>
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model continuum_robot -x 0 -y 0 -z 0" respawn="false" output="screen" >
  </node>
  
  <arg name="gui" default="True" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find continuum_rb)/rviz/continuum.rviz" required="true" />
</launch>